<manifest package="com.commonsware.android.linearpct"
          xmlns:android="http://schemas.android.com/apk/res/android">
          
  <supports-screens android:anyDensity="true"
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="true" />
  <application android:icon="@drawable/cw">
    <activity android:label="@string/app_name"
              android:name=".LinearLayoutDemo">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
